:root {
  --clr-primary-blue-200: hsl(225, 100%, 94%);
  --clr-primary-blue-400: hsl(245, 75%, 52%);

  --clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-200: hsl(225, 100%, 98%);
  --clr-neutral-300: hsl(224, 23%, 55%);
  --clr-neutral-400: hsl(223, 47%, 23%);

  --clr-active-400: hsl(245, 83%, 68%);

  --ff-base: "Red Hat Display", Arial, Helvetica, sans-serif;

  --fs-100: calc(13 / 16 * 1rem);
  --fs-200: calc(14 / 16 * 1rem);
  --fs-300: calc(15 / 16 * 1rem);
  --fs-400: calc(16 / 16 * 1rem);
  --fs-500: calc(22 / 16 * 1rem);
  --fs-600: calc(28 / 16 * 1rem);

  --fs-title: var(--fs-500);
  --fs-body: var(--fs-300);
  --fs-sm: var(--fs-100);

  --fw-normal: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --page-bg: url("./images/pattern-background-mobile.svg");
}

@media (width > 30em) {
  :root {
    --fs-title: var(--fs-600);
    --fs-body: var(--fs-400);
    --fs-sm: var(--fs-200);
    --page-bg: url("./images/pattern-background-desktop.svg");
  }
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-inline-size: 100%;
  display: block;
}

/* general */
body {
  font-family: var(--ff-base);
  font-size: var(--fs-body);
  font-weight: var(--fw-normal);
  text-align: center;
  line-height: 1.5;
  color: var(--clr-neutral-400);

  padding: 1.5rem;
  min-height: 100vh;
  background: var(--page-bg), var(--clr-primary-blue-200);
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* typography */

.text-light {
  color: var(--clr-neutral-300);
}

.text-sm {
  font-size: var(--fs-sm);
}

.text-black {
  font-weight: var(--fw-black);
}

/* utilities */
.flow-content > * + * {
  margin-block-start: var(--flow-spacer, 1rem);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

/* components */
.card {
  background: var(--clr-neutral-100);
  padding-block-end: var(--padding);
  border-radius: 1.25rem;
  overflow: hidden;
  max-inline-size: 28em;
}

.card__wrapper {
  padding-block: 2rem;
  padding-inline: 1.5rem;
}

@media (width > 30em) {
  .card__wrapper {
    padding-inline: 3rem;
  }
}

.card .title {
  font-size: var(--fs-title);
}

.card .plan {
  --flow-spacer: 1.5rem;
  --gap: 1.25rem;

  text-align: left;
  background: var(--clr-neutral-200);
  padding: 1.5rem;
  border-radius: 0.6rem;
  margin-block-end: 2rem;
}

.plan__info > * {
  font-size: var(--fs-body);
  display: grid;
  gap: 0.4rem;
}

.plan a {
  font-weight: var(--fw-bold);
  color: var(--clr-primary-blue-400);
  text-underline-offset: 3px;
  margin-inline-start: auto;
}

.plan a:hover,
.plan a:focus-visible {
  color: var(--clr-active-400);
  text-decoration: none;
}

.btn {
  display: block;
  width: 100%;
  border: none;
  background: var(--bg, lightgrey);
  color: var(--color, var(--clr-neutral-100));
  border-radius: 0.6rem;
  padding-block: 0.75em;
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.btn--primary {
  --bg: var(--clr-primary-blue-400);
  --color: var(--clr-neutral-100);

  box-shadow: 0 20px 20px hsl(from var(--bg) h s l / 0.19);
}

.btn--primary:hover,
.btn--primary:focus-visible {
  --bg: var(--clr-active-400);
}

.btn--secondary {
  --bg: transparent;
  --color: var(--clr-neutral-300);
}

.btn--secondary:hover,
.btn--secondary:focus-visible {
  --color: var(--clr-neutral-400);
}

/* FEM Styles */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-block-start: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
